# Ignore compiled object files
*.o

# Ignore compiled binary files
*.out
*.exe

# Ignore precompiled headers
*.gch

# Ignore debugging files
*.dSYM/
*.stackdump

# Ignore logs
*.log

# Ignore temp/backup files
*~
*.swp

# Ignore build folders
/build/
/dist/

# Ignore system files
.DS_Store
Thumbs.db
